/* INDEX HEADER */

.header_top_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 35px 0;
}

.logo{
    width: 75px;
    height: 75px;
}

.fa-bars{
    font-size: 40px;
}

.btn_menu{
    background: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 1rem;
    color: #000;
    position: relative;
    z-index: 200;
}

.btn_menu_on{
    color: #fff;
}

.menu{
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: circle(0% at top right);
    clip-path: circle(0% at top right);
    transition: clip-path .8s;
    z-index: 100;
}

.ul_menu_on{
    -webkit-clip-path: circle(100%);
    clip-path: cirlce(100%);
}

.menu > li{
    margin: 20px 0;
    transition: margin 0.5s;
}

.menu > li > a{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bolder;
    letter-spacing: 3px;
    transition: color 0.5s;
}

/* INDEX HEADER HOVER'S */

 .menu li a:hover{
    color: var(--main-logo-color);
 }

.menu li:hover{
    margin-left: 25px;
}
 
.btn_menu:hover{
    background: #33333375;
}

    /* INDEX HEADER media-queries */
    @media (min-width: 768px){

        .header_top_nav{
            margin: 30px 35px 0;
        }
        .logo{
            width: 100px;
            height: 100px;
        }
        
        .fa-bars{
            font-size: 50px;
        }

    }

    @media (min-width: 1400px){

        .logo{
            width: 125px;
            height: 125px;
        }
        
        .fa-bars{
            font-size: 75px;
        }

        .btn_menu{
            padding: 15px;
            font-size: 1.4rem;
        }

    }





/*BANNER SECTION*/

.banner{
    margin-bottom: calc(25%);
    width: 100%;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

    /* Fondo SVG */
.banner1{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.banner h1{
    margin-top: 50px;
    font-size: 1.2rem;
    color: #fff;
    padding: 1rem 2rem;
}

.banner p{
    font-size: 1rem;
    color: #fff;
    padding: 1rem 2rem;
    /* text-align: justify; */
    word-break: break-all;
}

    /*BANNER SECTION media-queries*/

    @media (min-width: 550px) and (max-width: 767px){
        
        .banner p{
            width: 75%;
            align-self: center;
        }
    }

    @media (min-width: 768px){

        .banner{
            height: 450px;
            background-size: 45%;
        }

        .banner h1{
            font-size: 2rem;
        }
        
        .banner p{
            width: 75%;
            align-self: center;
            font-size: 1.4rem;
        }

    }

    @media (min-width: 1400px){

        .banner{
            min-height: 75vh;
        }

        .banner h1{
            font-size: 3rem;
        }
        
        .banner p{
            width: 75%;
            align-self: center;
            font-size: 2rem;
        }

    }


/* SLIDER */

.slider_title{
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-left: 5px;
}

.slider_cont{
    margin-bottom: calc(25%);
    background-image: radial-gradient(circle, white, black, black);
    /* background: #000000; */
    animation: radial 17s linear infinite alternate;
    width: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 0.5erm 1rem;
    
}

.slider{
    width: 199.8%;
    height: 250px;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: -33.3%;
}

.slider_img{
    width: 33.3%;
    height: 50%;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    top: -10%;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    transform-style: preserve-3d;
}

.slider_img img{
    object-fit: cover;
}

.slider_info{
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    padding: 0.5em;
    background: #00000075;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn_slider{
    position: absolute;
    bottom: 0;
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background: #00000090;
    color: #fff;
    z-index: 50;
}

.btn_slider:hover{
    background: #7F7C8250
}

.left{
    transform: rotate(180deg);
    right: 50%;
    margin-right: 10px;
}

.right{
    left: 50%;
    margin-left: 10px;
}

.slider_cont h2{
    font-size: 1rem;

}

@media (min-width: 768px){

    .slider_title{
        font-size: 2rem;
        margin-bottom: 15px;
        margin-left: 15px;
    }

    .slider{
        height: 450px;
    }

    .slider_img{
        height: 60%;
        margin-left: 5px;
        margin-right: 5px;
        top: -5%;
    }

    .slider_info{
        font-size: 2rem;
    }
}


@media (min-width: 1400px){

    .slider_title{
        margin-left: 125px;
    }

    .slider_cont{
        margin: 0 100px 100px;
    }

    .slider{
        height: 600px;
    }

    .slider_img{
        height: 65%;
        margin-left: 15px;
        margin-right: 15px;
        top: -5%;
    }

    /* .slider_info{
        font-size: 2rem;
    } */
}



/* BOTONES DE PEDIDO Y CATALOGO */

.btn_info_product{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.btn_info{
    width: auto;
    height: auto;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0.5em 1em;
    border-radius: 0.5rem;
}

.catalogue{
    background: #ffffff;
    color: var(--main-second-color);
    font-weight: 700;
    border: 2px solid var(--main-second-color);
    position: relative;
    overflow: hidden;
}

.catalogue:before{
    content: "Ver Catálogo";
    background: var( --main-second-color);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 0.5s;
}

.catalogue:hover:before{
    margin-left: 0;

}

.catalogue:hover{
    color: #ffffff;
    /* background: none; */

}

.order{
    background: var(--main-second-color);
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.order:before{
    content: "Realizar Pedido";
    background: #ffffff;
    color: var(--main-second-color);
    font-weight: 700;
    width: 98.5%;
    height: 92.5%;
    border: 2px solid var(--main-second-color);
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -100%;
    transition: margin 0.5s;
    
}

.order:hover:before{
    margin-right: 0;
}

.order:hover{
    color: var(--main-second-color);
}

@media (min-width: 768px){
    .btn_info{
        font-size: 1.5rem;
    }
}


@media (min-width: 1400px){
    .btn_info{
       
        font-size: 1.7rem;
       
       
    }
}







/* INFO CARDS */

.info_cards{
    margin-top: calc(25%);
    padding: 2rem;
}

.info_cards h2{
    font-size: 1.2rem;
    margin-bottom: 2em;
}

.card_img{
    width: auto;
    height: auto;
    position: relative;
}

.card_img:after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: scale(1);
    transform: translate(-50%,-50%);
    transition: all 1s;
    z-index: -2;
}

.card_img:before{
    content: "";
    background: #ffffff;
    width: 4rem;
    height: 4rem;
    border: 50%;
    position: absolute;
    top: 47%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.card_father:hover .card_img:after{
    transform: scale(30);
    background: var(--main-second-color);
}

.card_father:hover{
    color: #ffffff;
}

img.icon_cards{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid #000000;
    padding: 0.4em;
    position: relative;
}

.card_container{
    width: 100%;
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
    column-gap: 2rem;
    row-gap:  1rem;
}


.card_father{
    background: #fff;
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    color: var( --main-info_text-color);
    text-align: center;
    border-radius: 2rem;
    padding: 1rem 1rem;
    position: relative;
    z-index: 0;
    box-shadow: 3px 4px 3px #000000;
    overflow: hidden;
}

.card_father h3{
    font-size: 1.4rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.card_father p{
    font-size: 1rem;
    text-align: center;
}


    /* INFO CARDS media-queries*/

    @media (min-width: 551px){

        .info_cards{
            padding: 3rem;
        }

        .card_container{
            grid-template-columns: 50% 50%;
        }

        .card_father{
            height: 300px;
            padding: 0.5rem 1rem;
        }
    }

    @media (min-width: 768px){

        .info_cards h2{
            font-size: 1.4rem
        }

        .info_cards{
            padding: 4rem;
        }

        .card_container{
            grid-template-columns: minmax(288px, 350px) minmax(288px, 350px) ;
            column-gap: 5rem;
            row-gap:  4rem;
        }

        .card_father{
            height: 250px;
        }
    }

    @media (min-width: 1400px){

        .info_cards h2{
            font-size: 2rem
        }

        .card_container{
            column-gap: 6rem;
            row-gap:  5rem;
        }

    }




/* Quality BANNER*/

    .banner_2{
        margin-top: calc(25%);
    }
    .banner_2_content{
        width: 100%;
        /* height: 300px; */
        height: auto;
        background: url("../assets/img/banner2_model.png") no-repeat,#000000;
        background-position: left center, center;
        background-size: 60% 100%, 100%;
        color: #ffffff;
        padding: 1rem 2rem;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
    }

    .banner_2 h2{
        font-size: 1.2rem;
        align-self: center;
        margin-bottom: 25px;
    }
    
    .banner_2 p{
        width: 200px;
        height: auto;
        font-size: 0.8rem;
        margin-bottom: 25px;
        align-self: flex-end;
        position: relative;
        left: calc(-3%);
        text-align: center;
    }

    .btn_banner_2{
        width: auto;
        height: auto;
        background: var(--main-second-color);;
        color: #ffffff;
        font-size: 0.8rem;
        padding: 0.5em;
        margin-bottom: 15px;
        border-radius: 0.5rem;
        align-self: flex-end;
        transition: transform 0.5s;
    }

    .btn_banner_2:hover{
        transform: translateY(-10%);
    }

    .btn_banner_2:active{
        transform: scale(0.9);
    }


    /* Quality BANNER media-queries*/
    @media (min-width: 550px){

        .banner_2_content{
            height: 300px;
            justify-content: space-around;
        }

        .banner_2 p{
            
            left: calc(-10%);
            font-size: 1rem;
            width: 300px;
        }

        .btn_banner_2{
            font-size: 1rem;
        }
    }

    @media (min-width: 768px){

        .banner_2_content{
            height: 400px;
            /* justify-content: space-around; */
            background-size: 50% 100%, 100%;
        }

        .banner_2 h2{
            font-size: 2rem;
        }

        .banner_2 p{
            
            left: calc(-10%);
            font-size: 1.4rem;
            width: 400px;
        }

        .btn_banner_2{
            font-size: 1.2rem;
        }
    }

    @media (min-width: 1200px){

        .banner_2{
            margin-left: 100px;
            margin-right: 100px;
        }
    }

    @media (min-width: 1400px){

        .banner_2 h2{
            font-size: 2.5rem;
        }

        .banner_2_content{
            height: 500px;
            background-size: 40% 100%, 100%;
        }

        .banner_2 p{
            font-size: 1.6rem;
            width: 500px;
        }

        .btn_banner_2{
            font-size: 1.5rem;
        }
    }





    
/* CREDITS */
.credits{
    background: #000000;
    color: #ffffff;
    width: 100%;
    position: relative;
    padding: 50px 0 0 0 ;
    z-index: 0;
}

.credits h4{
    font-size: 0.8rem;
}

.accordion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #000000;
    padding: 1rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.accordion *{
    margin: 0 10px;
}


.accordion i{
    font-size: 1rem;
    transition: all 0.5s
}

.accordion:hover{
    background: #333333
}

.credits_info{
    height: 1px;
    background: #333333;
    padding: 1em 1em;
    position: relative;
    z-index: 1;
    transform: translateY(-45px);
    overflow: hidden;
    transition: all 1s;
}
.credits_info_on{
    height: auto;
    background: #333333;
    padding: 1em 1em;
    position: relative;
    z-index: 1;
    transform: translateY(0);
    margin-bottom: 50px;
    transition: all 1s;
}

.credits_info p{
    font-size: 1rem;
}

.credits_info a{
    color: #ffffff;
    text-decoration: underline;
}

.div_author{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.div_author div{
    margin-top: 15px;
}

.div_author a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

.all_rights_reserved{
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5em;
    position: relative;
}

    /* CREDITS Media-queries */
    @media (min-width: 550px){

        .accordion{
            justify-content: flex-start;
        }

    }

    @media (min-width: 768px){

        .credits h4{
            font-size: 1rem;
        }

        .credits{
            padding: 50px 100px 0 100px ;
        }

        .all_rights_reserved{
            font-size: 1rem;
        }

        .all_rights_reserved:after{
            content: "";
            background: #ffffff;
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            top: -50%;
        }
    }

    @media (min-width: 1200px){

        .credits h4{
            font-size: 0.8rem;
        }
        .credits{
            padding: 25px 100px 0 100px ;
        }
        
       

        



        

    }