<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device=width, initial-scale=1.0">
    <title>Solicitud de pedido</title>
    <link rel="stylesheet" href="../assets/fonts_awesome/css/all.min.css">
</head>

<body style="width: auto; height: 100%;padding: 0;margin: 0;">

    <header style="width: auto; margin: 50px 5% 50px 5%; text-align: center; position: relative;">

        
        <img src="../assets/logo/logo.svg" alt="Logo" style="margin-bottom: 15px; width: 100%;height: 100px;">

        <div style="width: 100%; text-align: center;">

            <button
            style="width: 55%; background: #E84A26; color: #ffffff;font-size: 1.2rem; padding: 1em 1em; outline: none;border: none;cursor: pointer;"
            ><i class="fas fa-door-open" style="margin-right: 5px;"></i><a href="http://localhost/komodo_page/view/ui/" style="text-decoration: none;color: #ffffff;">Ir a la página</a></button>

        </div>

        

    </header>

    <section style="background: #EDEFF1; margin:50px 10% 0 10%; padding: 25px 5%;">
        <h1 style="text-align: center;font-size: 1.2rem; margin-bottom: 50px;">Solicitud de pedido</h1>
        <strong>Estimado cliente:</strong>

        <div style="text-align: justify;">
            <p>Le agradacemos por su solicitud de compra en Komodo.com</p>
            <p>A continuación encontrará el historial de su carrito de compras con todos los pedidos realizados. Recuerde guardar este correo en el caso de que sea necesario, como por ejemplo cancelar su solicitud de pedido.</p>
            <br>
            <strong>*NOTA IMPORTANTE: Recuerde que aún no se realizado la compra, nuestro personal debe ponerse en contacto para realizar el pago de sus productos</strong>
        </div>
        
    </section>

    <!-- Datos del cliente -->
    <table width="100%" style="margin: 50px 0; padding: 0 12%;">

        <tbody style="text-align: center">

            <tr>
                <td colspan="2" style="background: #000000;color: #ffffff;font-size: 1rem;padding: 1em 0.5em; text-align: center;">Datos del cliente:</td>
            </tr>
            
    
            <tr style="text-align: center;">
                <tr>
                    <td style="padding: 2% 0;">Id de la solicitud:</td>
                    <td style="padding: 2% 0;">3242323</td>
                </tr>

                <td colspan="2"><hr></td>
    
                <tr>
                    <td style="padding: 2% 0;">Nombre completo del cliente:</td>
                    <td style="padding: 2% 0;">Alvaro Siles Quesada</td>
                </tr>

                <td colspan="2"><hr></td>
    
                <tr>
                    <td style="padding: 2% 0;">Número de celular:</td>
                    <td style="padding: 2% 0;">23423423</td>
                </tr>

                <td colspan="2"><hr></td>
    
                <tr>
                    <td style="padding: 2% 0;">Correo electrónico:</td>
                    <td style="word-break: break-all; padding: 2% 0;">alvarosiles499@gmail.com</td>
                </tr>

                <td colspan="2"><hr></td>
    
                <tr>
                    <td style="padding: 2% 0;">Zona de residencia:</td>
                    <td style="padding: 2% 0;">Provincia: Cartago,Canton: Cartago,Distrito: San Francisco</td>
                </tr>

                <td colspan="2"><hr></td>
    
                <tr>
                    <td style="padding: 2% 0;">Metodo de pago:</td>
                    <td style="padding: 2% 0;">SYMPE</td>
                </tr>
            </tr>
            
        </tbody>
        
    </table>

    <table width="100%" style="margin: 50px 0; padding: 0 12%;">

        <tbody style="text-align: center">

            <tr width="100%">
                <td width="75%" style="background: #000000;color: #ffffff;font-size: 1rem;padding: 1em 0.5em;">Detalles del pedido:</td>
                <td width="25%" style="background: #000000;color: #ffffff;font-size: 1rem;padding: 1em 0.5em;">Precio:</td>
            </tr>

            <tr>
                <tr>
                    <td style="padding: 2% 0;"><strong>ID del producto:</strong> 25 <br><br><strong>Nombre producto:</strong> Agatha-Ojos de Tigre</td>
                    <td style="padding: 2% 0;">5500</td>
                </tr>

                <tr><td colspan="2"><hr></td></tr>

                <tr>
                    <td style="padding: 2% 0;">ID del producto: 15 <br><br>Nombre: Aqua-Marina</td>
                    <td style="padding: 2% 0;">3500</td>
                </tr>

                <tr><td colspan="2"><hr></td></tr>

                <tr>
                    <td style="padding: 2% 0;">ID producto: 55<br><br>Nombre: Ojos de Tigre-Rubies</td>
                    <td style="padding: 2% 0;">7500</td>                    
                </tr>

                <tr><td colspan="2"><hr></td></tr>

            </tr>


            <tr>
                <td width="75%" style="background: #000000;color: #ffffff; font-size: 1rem; padding: 1em 0.5em;">Total del pedido:</td>
                <td width="25%"><strong>10000</strong></td>
            </tr>

        </tbody>

    </table>
        
    <section style="width: auto; background: #EDEFF1; margin:50px 10% 0 10%; padding: 1% 5%;">
        <p style="text-align:justify">Si tiene alguna consulta o duda, por favor comunicarse por cualquiera de los siguiente medios:</p>
        <ul style="list-style: none; cursor: pointer; padding: 0; text-align: center;">
            <li style="margin-bottom: 20px;"><a href="tel:+50662889872">Número de celular: 6288-9872</a></li>
            <li><a href="mailto:alvarosiles499@gmail.com">Correo electrónico: komodocr@gmail.com</a></li>
        </ul>

        <p style="text-align:justify">Por favor no responda a este correo ya que es generado automáticamente desde un sistema de envíos. Si desea comunicarse con nosotros, por favor utilice alguno de los medios indicados arriba.</p>
        <p style="text-align: right;"><strong>¡Agradecemos su preferencia!</strong></strong></p>
    </section>
</body>

</html>