<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="../assets/fonts_awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/galery.css">
    <link rel="stylesheet" type="text/css" href="../css/shared_styles/footer_bridge.css">
</head>
<body>

    <div class="container">

        <!-- MODAL IMG INFO -->

        <div class="modal_cont">
            <div class="modal">

                <div class="top_options">
                    <button class="info_btn btn">Más información<i class="fas fa-question"></i></button>
                    <button class="close btn"><i class="fas fa-times"></i></button>
                </div>
                <div class="img_container">
                    <img id="my_image" class="img_modal" alt="Pulsera seleccionada">
                </div>
                <div class="modal_info">
                    <ul>
                        <li class="bracelet_name"><strong>Nombre:</strong><span>Agatha</span></li>
                        <li class="bracelet_price"><strong>Precio:</strong><span>$22</span></li>
                        <li class="bracelet_stock"><strong>Disponibles:</strong><span>4</span></li>
                    </ul>
                    <div class="btn_modal">
                        <button class="btn download_img"><a>Descargar Imagen</a></button>
                        <button class="btn order">Agregar al carrito</button>
                    </div>
                </div>

            </div>
        </div>

        <header class="header_top_nav">

            <section class="menu_logo">

                <div class="box_logo">
                    <img src="../assets/logo/logo.svg" alt="Logo de la pagina" class="logo">
                </div>
    
                <nav class="top_nav">
                    <button class="btn btn_menu"><i class="fas fa-bars"></i>Menú</button>
    
                    <ul class="menu">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="gallery.html">Catálogo</a></li>
                        <li><a href="order.html">Pedidos</a></li>
                        <li><a href="contact.html">Contacto</a></li>
                    </ul>
                </nav>

            </section>

            <section class="banner">
                <h1>¡Explora nuestro catálogo!</h1>
                <form class="searcher">
                    <label for="search" hidden>Busca algo más especifico en la galería...</label>
                    <input type="search" class="search" placeholder="Busca algo más especifico...">
                    
                    <label for="search_for" title="Iniciar búsqueda"><i class="fas fa-search"></i></label>
                    
                    <input type="submit" id="search_for" aria-hidden="true" hidden>
                </div>
                
            </form>
        </header>

        <!-- KEYWORDS -->
        <section class="keywords">
            <div class="cont_filter">
                <button class="btn btn_filter">Rojas</button>
                <button class="btn btn_filter">Azules</button>
                <button class="btn btn_filter">Celestes</button>
                <button class="btn btn_filter">Moradas</button>
                <button class="btn btn_filter">Verdes</button>
                <button class="btn btn_filter">Naranaja</button>
                <button class="btn btn_filter">Amarillas</button>
                <button class="btn btn_filter">Cafés</button>
                <button class="btn btn_filter">Negras</button>
                <button class="btn btn_filter">Blancas</button>
                <button class="btn btn_filter">Claras</button>
                <button class="btn btn_filter">Piedras Mixtas</button>
                <button class="btn btn_filter">Multicolor</button>
            </div>
            

            <button class="btn btn_slider left" title="Retroceder"><i class="fas fa-arrow-left"></i></button>
            <button class="btn btn_slider right" title="Avanzar"><i class="fas fa-arrow-right"></i></button>
        </section>


        <!-- GALERY -->
        <section class="galery_container">
            <div class="galery">
                <div class="galery_photos">
                    
                    <!-- RECORDAR OCULTAR CON CSS LOS PRECIOS Y EL STOCK -->
                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera1.jpeg" alt="">
                        <p class="info">Pulsera 1</p>
                        <p class="price">4500,00</p>
                        <p class="stock">5</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera2.jpeg" alt="">
                        <p class="info">Pulsera 2</p>
                        <p class="price">5000,00</p>
                        <p class="stock">2</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera3.jpeg" alt="">
                        <p class="info">Pulsera 3</p>
                        <p class="price">3500,00</p>
                        <p class="stock">3</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera4.jpg" alt="">
                        <p class="info">Pulsera 4</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera5.jpeg" alt="">
                        <p class="info">Pulsera 5</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera6.jpeg" alt="">
                        <p class="info">Pulsera 6</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera7.jpeg" alt="">
                        <p class="info">Pulsera 7</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 8</p>

                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 9</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 10</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 11</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 12</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 13</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 14</p>
                    </div>
                </div>
                <strong>Has llegado hasta el final...</strong>
            </div>
        </section>



        <!-- FOOTER -->
        <footer>

            <header class="nav_footer">

                <!-- ICONOS DE REDES SOCIALES -->
                
                <section class="social">
                    <h3>Redes Sociales:</h3>
                    <ul class="">

                        <li><a href="https://www.facebook.com/alvaro.siles.716/" class="">
                            <i class="fab fa-facebook-square"></i>
                            <span>Sigueme en Facebook</span>
                        </a></li>

                        <li><a href="" class="">
                            <i class="fab fa-instagram"></i>
                            <span>Y también en Instagram</span>
                        </a></li>
                    </ul>
                </section>

                <!-- ICONOS DE CONTACTO -->

                <section class="contact">
                    <h3>Contactos:</h3>
                    <ul class="">
                        <li><a href="tel:+50662889872" class="">
                            <i class="fab fa-whatsapp"></i>
                            <span>6288-9872</span>
                        </a></li>
                        <li><a href="mailto:alvarisiles499@gmail.com" class="">
                            <i class="fas fa-envelope-square"></i>
                            <span>komodocr@gmail.com</span>
                        </a></li>
                    </ul>
                </section>
            </header>

        
        </footer>

    </div>

    <!-- <canvas id="myCanva" class="myCanva" aria-hidden="true">
    </canvas>

    <button class="btn_canva">Descargar</button> -->


    <!-- FORMULARIO OCULTO -->
<!-- 
    Como se solicitó anteriormente, así es como puede agregar dinámicamente un formulario oculto y enviarlo cuando desee actualizar la página.

En algún lugar de tu HTML:

<div id="hidden_form_container" style="display:none;"></div>
Y algunos Javascript:

function postRefreshPage () {
  var theForm, newInput1, newInput2;
  // Start by creating a <form>
  theForm = document.createElement('form');
  theForm.action = 'somepage.php';
  theForm.method = 'post';
  // Next create the <input>s in the form and give them names and values
  newInput1 = document.createElement('input');
  newInput1.type = 'hidden';
  newInput1.name = 'input_1';
  newInput1.value = 'value 1';
  newInput2 = document.createElement('input');
  newInput2.type = 'hidden';
  newInput2.name = 'input_2';
  newInput2.value = 'value 2';
  // Now put everything together...
  theForm.appendChild(newInput1);
  theForm.appendChild(newInput2);
  // ...and it to the DOM...
  document.getElementById('hidden_form_container').appendChild(theForm);
  // ...and submit it
  theForm.submit();
}
Esto es equivalente a enviar este formulario HTML:

<form action="somepage.php" method="post">
  <input type="hidden" name="input_1" value="value 1" />
  <input type="hidden" name="input_2" value="value 2" />
</form> -->

     
    <script type="text/javascript" src="../js/responsive_menu.js"></script>
    <script type="text/javascript" src="../js/galery.js"></script>

    <!-- SCROLL SIMPLE DE LOS FILTROS -->
    <script type="text/javascript">

        let left = document.querySelector(".left");
        let right = document.querySelector(".right");
        let cont_filter = document.querySelector(".cont_filter")

        function moveLeft(){
            cont_filter.scrollLeft += -200;
        }

        function moveRight(){
            cont_filter.scrollLeft += 200;
        }

        left.addEventListener("click", moveLeft)
        right.addEventListener("click", moveRight)
    
    </script>
</body>
</html>