<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="../assets/fonts_awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/galery.css">
    <link rel="stylesheet" type="text/css" href="../css/shared_styles/footer_bridge.css">
    <link rel="stylesheet" type="text/css" href="../css/shared_styles/shopping_cart.css">
</head>
<body>

    <div class="container">

        <!-- MODAL IMG INFO -->

        <div class="modal_cont">
            <div class="modal">

                <div class="top_options">
                    <button class="info_btn btn">Más información<i class="fas fa-question"></i></button>
                    <button class="close btn"><i class="fas fa-times"></i></button>
                </div>
                <div class="img_container">
                    <img id="my_image" class="img_modal" alt="Pulsera seleccionada">
                </div>
                <div class="modal_info">
                    <ul>
                        <li class="bracelet_name"><strong>Nombre:</strong><span></span></li>
                        <li class="bracelet_price"><strong>Precio:</strong><span></span></li>
                        <li class="bracelet_stock"><strong>Disponibles:</strong><span></span></li>
                        <li class="bracelet_id" aria-hidden="true" hidden></li>
                    </ul>
                    <div class="btn_modal">
                        <button class="btn download_img"><a>Descargar Imagen</a></button>
                        <button class="btn order">Agregar al carrito</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- SHOPPING CART -->

        <div class="shopping_cart_container" key="0">
            <div class="shopping_cart" key="0">
                <div class="cart_title_btn">
                    <h4><i class="fas fa-shopping-cart"></i>Tu Carrito:</h4>
                    <button class="btn close_cart" title="Cerrar carrito"><i class="fas fa-times"></i></button>
                </div>
                <div class="products_list">
                    <div class="product">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <div class="product_info">
                            <p>Pulsera</p>
                            <p>5000</p>
                        </div>
                        <p class="id" hidden aria-hidden="true">5</p>
                        <button class="btn delete_product"><i class="fas fa-trash-alt"></i></button>
                    </div>

                    <div class="product">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <div class="product_info">
                            <p>Pulsera</p>
                            <p>5000</p>
                        </div>
                        <p class="id" hidden aria-hidden="true">5</p>
                        <button class="btn delete_product"><i class="fas fa-trash-alt"></i></button>
                    </div>

                    <div class="product">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <div class="product_info">
                            <p>Pulsera</p>
                            <p>5000</p>
                        </div>
                        <p class="id" hidden aria-hidden="true">5</p>
                        <button class="btn delete_product"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
                <!-- <button class="btn close_cart" title="Cerrar carrito"><i class="fas fa-times"></i></button> -->
            </div>
        </div>

        <!-- BOTON ABRIR CARRITO -->
        <div class="cart_open_cont">
            <button class="btn cart_open" title="Abrir mi carrito"><i class="fas fa-shopping-cart"></i></button>
        </div>
        



        <!-- CABECERA -->
        <header class="header_top_nav">

            <section class="menu_logo">

                <div class="box_logo">
                    <img src="../assets/logo/logo.svg" alt="Logo de la pagina" class="logo">
                </div>
    
                <nav class="top_nav">
                    <button class="btn btn_menu"><i class="fas fa-bars"></i>Menú</button>
    
                    <ul class="menu">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="gallery.html">Catálogo</a></li>
                        <li><a href="order.html">Pedidos</a></li>
                        <li><a href="contact.html">Contacto</a></li>
                    </ul>
                </nav>

            </section>

            <section class="banner">
                <h1>¡Explora nuestro catálogo!</h1>
                <form class="searcher">
                    <label for="search" hidden>Busca algo más especifico en la galería...</label>
                    <input type="search" class="search" placeholder="Busca algo más especifico...">
                    
                    <label for="search_for" title="Iniciar búsqueda"><i class="fas fa-search"></i></label>
                    
                    <input type="submit" id="search_for" aria-hidden="true" hidden>
                </div>
                
            </form>
        </header>

        <!-- KEYWORDS -->
        <section class="keywords">
            <div class="cont_filter">
                <button class="btn btn_filter">Rojas</button>
                <button class="btn btn_filter">Azules</button>
                <button class="btn btn_filter">Celestes</button>
                <button class="btn btn_filter">Moradas</button>
                <button class="btn btn_filter">Verdes</button>
                <button class="btn btn_filter">Naranaja</button>
                <button class="btn btn_filter">Amarillas</button>
                <button class="btn btn_filter">Cafés</button>
                <button class="btn btn_filter">Negras</button>
                <button class="btn btn_filter">Blancas</button>
                <button class="btn btn_filter">Claras</button>
                <button class="btn btn_filter">Piedras Mixtas</button>
                <button class="btn btn_filter">Multicolor</button>
            </div>
            

            <button class="btn btn_slider left" title="Retroceder"><i class="fas fa-arrow-left"></i></button>
            <button class="btn btn_slider right" title="Avanzar"><i class="fas fa-arrow-right"></i></button>
        </section>


        <!-- GALERY -->
        <section class="galery_container">
            <div class="galery">
                <div class="galery_photos">
                    
                    <!-- RECORDAR OCULTAR CON CSS LOS PRECIOS Y EL STOCK -->
                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera1.jpeg" alt="">
                        <p class="info">Pulsera 1</p>
                        <p class="price" aria-hidden="true" hidden>4500,00</p>
                        <p class="stock" aria-hidden="true" hidden>5</p>
                        <p class="id_product" aria-hidden="true" hidden>1</p>

                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera2.jpeg" alt="">
                        <p class="info">Pulsera 2</p>
                        <p class="price" aria-hidden="true" hidden>5000,00</p>
                        <p class="stock" aria-hidden="true" hidden>2</p>
                        <p class="id_product" aria-hidden="true" hidden>2</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera3.jpeg" alt="">
                        <p class="info">Pulsera 3</p>
                        <p class="price" aria-hidden="true" hidden>3500,00</p>
                        <p class="stock" aria-hidden="true" hidden>5</p>
                        <p class="id_product" aria-hidden="true" hidden>3</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera4.jpg" alt="">
                        <p class="info">Pulsera 4</p>
                        <p class="price" aria-hidden="true" hidden>8500,00</p>
                        <p class="stock" aria-hidden="true" hidden>25</p>
                        <p class="id_product" aria-hidden="true" hidden>4</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera5.jpeg" alt="">
                        <p class="info">Pulsera 5</p>
                        <p class="info">Pulsera 4</p>
                        <p class="price" aria-hidden="true" hidden>2500,00</p>
                        <p class="stock" aria-hidden="true" hidden>32</p>
                        <p class="id_product" aria-hidden="true" hidden>5</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera6.jpeg" alt="">
                        <p class="info">Pulsera 6</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera7.jpeg" alt="">
                        <p class="info">Pulsera 7</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 8</p>

                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 9</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 10</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 11</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 12</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 13</p>
                    </div>

                    <div class="photos" title="Click para más información">
                        <img src="../assets/img/galery/pulsera8.jpeg" alt="">
                        <p class="info">Pulsera 14</p>
                    </div>
                </div>
                <strong>Has llegado hasta el final...</strong>
            </div>
        </section>



        <!-- FOOTER -->
        <footer>

            <header class="nav_footer">

                <!-- ICONOS DE REDES SOCIALES -->
                
                <section class="social">
                    <h3>Redes Sociales:</h3>
                    <ul class="">

                        <li><a href="https://www.facebook.com/alvaro.siles.716/" class="">
                            <i class="fab fa-facebook-square"></i>
                            <span>Sigueme en Facebook</span>
                        </a></li>

                        <li><a href="" class="">
                            <i class="fab fa-instagram"></i>
                            <span>Y también en Instagram</span>
                        </a></li>
                    </ul>
                </section>

                <!-- ICONOS DE CONTACTO -->

                <section class="contact">
                    <h3>Contactos:</h3>
                    <ul class="">
                        <li><a href="tel:+50662889872" class="">
                            <i class="fab fa-whatsapp"></i>
                            <span>6288-9872</span>
                        </a></li>
                        <li><a href="mailto:alvarisiles499@gmail.com" class="">
                            <i class="fas fa-envelope-square"></i>
                            <span>komodocr@gmail.com</span>
                        </a></li>
                    </ul>
                </section>
            </header>

        
        </footer>

    </div>

    <script type="text/javascript" src="../js/responsive_menu.js"></script>
    <script type="text/javascript" src="../js/galery.js"></script>
    <script type="text/javascript">
        // <!-- SCROLL SIMPLE DE LOS FILTROS -->
        let left = document.querySelector(".left");
        let right = document.querySelector(".right");
        let cont_filter = document.querySelector(".cont_filter")

        function moveLeft(){
            cont_filter.scrollLeft += -200;
        }

        function moveRight(){
            cont_filter.scrollLeft += 200;
        }

        left.addEventListener("click", moveLeft);
        right.addEventListener("click", moveRight);


        // BOTONES DE ABRIR/CERRAR CARRITO

        let cart_close = document.querySelector(".close_cart");
        let cart_open = document.querySelector(".cart_open");
        let cart_father = document.querySelector(".shopping_cart_container");
        let cart_modal = document.querySelector(".shopping_cart");

        cart_open.addEventListener("click",cartOpen);
        cart_close.addEventListener("click",cartClose);

        function cartOpen(){
            if (cart_father.getAttribute("key") == 0 && cart_modal.getAttribute("key") == 0) {

                cart_father.style.visibility = "visible";
                cart_father.setAttribute("key",1);
                cart_modal.style.transform = "scale(1)";
                cart_modal.setAttribute("key",1);
                document.querySelector("body").style.overflow = "hidden";
            }
        }
        function cartClose(){
            if (cart_father.getAttribute("key") == 1 && cart_modal.getAttribute("key") == 1) {
                document.querySelector("body").style.overflow = "initial";
                cart_modal.style.transform = "scale(0)";
                cart_modal.setAttribute("key",0);
                setTimeout(() => {
                    cart_father.style.visibility = "hidden";
                    cart_father.setAttribute("key",0);
                    
                }, 100);
            }
        }
    </script>
    <script type="module" src="../js/shopping_cart.js"></script>

</body>
</html>